:root{
    --gradient:linear-gradient(90deg, #f1c40f , #f39c12);
}



*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all.2s linear;
}
*::selection{
    background: #f39c12;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background: #333;
}
html::-webkit-scrollbar-thumb{
    background:linear-gradient( #f1c40f , #f39c12);
}
/* body{
   height:300rem ;
} */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background:var(--gradient);
    box-shadow: 0.1rem .3rem rgba(0, 0,0, .3) ;
}
header .logo{
    color: #fff;
    font-size:2.5rem;
}
header.navbar.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
   
}
header.navbar.ul li{
    margin: 0 1rem;
}
header.navbar.ul li a{
    font-size:2rem;
    color: #fff;
}
header.navbar.ul li a.active,

header.navbar.ul li a:hover{
    
    color: #444;
}